.card{
    background-color: #cfa67c;
    width: 250px;
    height: 260px;
    padding-top: 10px;
    border-radius: 10px;
}

.card img {
    width: 210px;
    height: 180px;
    border-radius: 12px;
}

.cardData1{
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
}

.cardData2{
    display: flex;
    justify-content: flex-start;
    padding-left: 20px;
}